# pip install uv
# uv pip compile --upgrade --python-version 3.14 --universal --output-file requirements.txt requirements.in
# pip install -r requirements.txt
fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
pydantic-settings
pydantic
alembic
PyJWT
httpx
python-multipart
qrcode[pil]
pytest
pre-commit
colorlog
ruff
black
mypy
slowapi
