# pip install uv
# uv pip compile --upgrade --python-version 3.14 --universal --output-file requirements-runtime.txt requirements.in
# pip install -r requirements-runtime.txt
fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
pydantic-settings
pydantic
alembic
PyJWT
httpx
python-multipart
qrcode[pil]
slowapi
