# pip install uv
# uv pip compile --python-version 3.14 --universal --output-file requirements.txt requirements.in
# pip install -r requirements.txt
aiogram
aiohttp-socks
httpx
pydantic-settings
tzdata
